<h3>Register for Activities</h3>
<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>
	<fieldset id="name">
		<%= f.label :first_name %><br/>
		<%= f.text_field :first_name %><br/>
		<%= f.label :last_name %><br/>
		<%= f.text_field :last_name %>
	</fieldset>
	<fieldset id="address">
		<%= f.label :street %><br/>
		<%= f.text_field :street %><br/>
		<%= f.label :city %><br/>
		<%= f.text_field :city %><br/>
		<%= f.label :state %><br/>
		<%= f.text_field :state %> <br/>
		<%= f.label :zip %><br/>
		<%= f.text_field :zip %>
	</fieldset>
	<fieldset id="phone">
		<%= f.label :mobile_phone %><br/>
		<%= f.text_field :mobile_phone %><br/>
		<%= f.label :home_phone %><br/>
		<%= f.text_field :home_phone %><br/>
		<%= f.label :other_phone %><br/>
		<%= f.text_field :other_phone %>
	</fieldset>
	<fieldset id="email">
		<%= f.label :email %><br/>
		<%= f.text_field :email %><br/>
		<%= f.check_box :optin %>I have read and understood the <a href="#">terms and conditions</a>.
	</fieldset>
	<div class="actions">
		<%= f.submit "Sign Up" %>
	</div>
<% end %>